
*{
    margin: 0;
    padding: 0;
}
.box{
    height:60vh;
    border-radius: 30px;
}
.box1{
    width:10vw;
    height:25vh;
    /* border:2px solid black; */
    /* margin:auto; */
    border-radius: 100%;
    background-image: url('image2.png');
    background-repeat: no-repeat;
    background-size:100%;
}
.box2{
    height: 65vh;
}
.box3{
    height:30vh;   
}
.box4{
    height:90vh;
    border-radius: 30px;
}
.box5{
    height:63vh;   
}
input{
    width:30vw;
    height:7vh;
}
.good{
    height:100vh;
}
